@media (max-width:600px){
    
.contenedor-descripcion {
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9fb8d9;
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
    border-radius: 30px, 30px, 30px, 30px;
    }
}
    .imagen-descripcion {
        height: 100%;
        width: auto;
    }
    
    .contenedor-texto-descripcion {
     
     padding: 40px;
     font-family: lato, sans-serif;
     font-weight: 400;
     line-height: 1.5rem;
     text-align: justify;
    }
    
    
    .nombre-testimonio {
        font-size: 1.3rem;
    }
    
    .cargo-testimonio {
        font-size: 1.3rem;
        margin-top: 15px;
        padding-bottom: 30px;
    }
    
    .texto-testimmonio {
        font-size: 1.1rem;
        text-align: justify;

    }

    .text-primary {
      color: #3a4d71;
    }

@media (min-width:600px){

    .contenedor-testimonio {
        width: 1170px;
        height: 368px;
        margin: 10px 10px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #9fb8d9;
        box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
        border-radius: 30px, 30px, 30px, 30px;
        }

}

