.Cabecera{
    width: 100%;
    background:#a698c5;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    font-weight:lighter;
    font-family: sans-serif;
    position: relative;
    
}

.Cabecera-h1{
    font-weight:lighter;
}


.Cabecera-h1:hover {
    transform:scale(1.5);
    transition: 1s;
}

.Cabecera-a{
    text-decoration: none;
}

.Cabecera-button{
    display: none;
    cursor: pointer;
}

.Cabecera-ul li:hover{
    transform:scale(1.2);
    transition: .5s;
    text-decoration: underline;
}

.Cabecera-svg{
    width: 2em;
    height: 2em;
}

.Cabecera-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.Cabecera-li{
    margin: 0 .5em;
    list-style: none;

}

@media screen and (max-width:480px){
    .Cabecera-button{
        display: flex;
    }
    .Cabecera-nav{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 0vh;
        opacity: 0;
        overflow: hidden;
        transition: all .5s ease;
    }

    .Cabecera-nav.isActive {
        height: 50vh;
        opacity: 1;
    }

    .Cabecera-ul {
        flex-direction: column;
    }

    .Cabecera-li{
        margin: .5em 0;
    }


}