.card-titleapi{
    
    position: absolute;
    padding: 30px;
    font-size: 50px ;
    
  
}

.card-dateapi{

    position: absolute;
    padding-left: 20px;
    margin-top: 60px;
  }



.card-tempapi{
position: absolute;
    padding-left: 20px;
    margin-top:100px;
    font-size: 30px;
  
}

.card-conditonapi{ position: absolute;
padding-left: 20px;
margin-top: 130px;
font-size: 20px;

}

/* */

.card{
background: rgba(158, 222, 236, 0.74);
background: linear-gradient(90deg, rgba(158, 222, 236, 0.637) 0%, rgba(109, 170, 240, 0.699) 100%);
box-shadow: 5px 5px 10px 10px rgba(128, 128, 128, 0.514);
border-radius: 6px;
text-align: center;


}

.col-md-8{
padding-left: 100px;
margin-top: 20px;
font-size: 20px;

}


.btn{
background-color: #3A4d71;
}

.barra{
    border:2px solid #3a4d71;
    border-radius: 10px;

}

