*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}


footer {
    width: 100%;
    padding: 1px 0px;
    background-color: #3a4d71;
    -webkit-mask-image: url(../img/footer-background.png);
    mask-image: url(../img/footer-background.png);
    mask-size: cover;

}

.container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
    margin-top: 150px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}

.box_footer .logo img {
    width: 200px;
}


.box__footer h2 {
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: 700;

}

.box_footer .box__footer a{
    margin-top: 10px;
    color: #ffffff;
    font-weight: 600;

}

.box__footer a{
    margin-top: 10px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;

}

/*opacidad letras cuando pasas sobre ellas*/
.box__footer a:hover {
    opacity: 0.8;
}

/*tamaño iconos*/
.box__footer a .bi {
    font-size: 30px;
    margin-right: 30px;
}

/*copy*/
.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #3d3434;
}

/*linea copy*/
.box__copyright hr {

    height: 3px;
    border-color: #0e0101;
}