

footer {
    width: 100%;
padding: 5px 0px;
    background-color: #3a4d71;
    -webkit-mask-image: url(../img/footer-background.png);
    mask-image: url(../img/footer-background.png) ;
    mask-size: cover;
    
}

.container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
    margin-top: 150px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.box_footer .logo img{
width: 180px;
}

.box__footer h2{
    margin-bottom: 50px;
    color: #0e0101;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #0e0101;
    font-weight: 600;
}

/*opacidad letras cuando pasas sobre ellas*/
.box__footer a:hover{
    opacity: 0.8;
}

/*tamaño iconos*/
.box__footer a .bi{
    font-size: 30px;
}

/*copy*/
.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #0e0101;
}

/*linea copy*/
.box__copyright hr{
   
    height: 3px;
    border-color: #0e0101;
}
