/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background: #eff4f4;
    
  
  } */
  /* .contenedor {  
    font-family: sans-serif;
    font-size: 16px;
    color: #3a4d71;
    border-radius: 2px;  
    overflow: hidden;
    width: 400px;
    max-width: 100%;
  } */

  .formulario {
   background: linear-gradient(150deg,#b1a5c9, #eff4f4,#9fb8d9);
   box-shadow: 5px 5px 10px 10px rgba(128, 128, 128, 0.514);
    

  }
  h2 {
    text-align: center;
    margin: 30px;
    font-weight: -700;
  }
  #form-react {
    padding: 30px 20px;  
  }
  .form-control {    
   
    padding-bottom: 20px;
    position: relative;
    padding: 0 40px;
    background-color: transparent;
  }
  .form-control label {
    display: inline-block;
    margin-bottom: 7px;
    font:weight 100px
  }
  .form-control input {
    border:2px solid #3a4d71;
    background-color: #fdfafa;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 12px;
    width: 100%;    
  }
  .form-control, input:focus {
    outline: none;
  }
  .form-react button {
   
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #eff4f4;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    background: #3a4d71;
    border-radius: 25px;
    

  }
  .form-react button:hover {
    background-color: #9fb8d9;
  }
  .fail {
    color: #e70404;
  }
