.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%; 
  max-height: 50%;
    background-color: rgba(0, 0, 0, 0.911);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .titulo-emergente{
    font-size:50px ;
    font-size: 4vw; 
  }
  .modal-content {
    background: linear-gradient(150deg,#b1a5c9b3, #eff4f4,#9fb8d9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  

  @media screen and (max-width: 780px) {
    .modal {
      max-width: 90%; /* Ajusta el ancho m치ximo del modal para pantallas peque침as */
      max-height: 30%; /* Ajusta la altura m치xima del modal para pantallas peque침as */
    }
  };