.sobrenosotros {
    background: linear-gradient(150deg,#b1a5c9, #eff4f4, #c9e1ea);
    font-family: sans-serif;
}

.sobrenosotros-h1 {
    font-family: sans-serif;
    font-weight: lighter;
}

.parrafo1{
    text-align: left;
}

.parrafo2 {
    text-align:right;
}

.parrafo3 {
    text-align:left;
}